<div>
  <b>Name:</b> <%= @dog.name %>
</div>
<div>
  <b>Age:</b> <%= @dog.age %>
</div>
<div>
  <b>Weight:</b> <%= @dog.weight %>
</div>
<div>
  <b>Breed:</b> <%= @dog.breed %>
</div>
<%= link_to "Edit", edit_dog_path %>
